$background: #141c5a;
$lightfont: #fff;
$button: #007ad2;
$black: #000;
$white: #fff;

:export {
  background: $background;
  lightfont: $lightfont;
  button: $button;
  black: $black;
  white: $white;
}
