@import "../styles/Colours.scss";

.footer-cover {
  background-color: #{$background};
}

.footer {
  max-width: 900px;
  width: 60%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 20px;
  .footer-section {
    color: #{$white};
    display: flex;
    flex-direction: column;
    padding: 20px;
    .footer-title {
      margin: 0px;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    .footer-link {
      font-size: 20px;
      text-decoration: none;
      color: #999;
    }
    .footer-link:hover {
      color: #ddd;
    }
  }
}
