.stick-social-bar {
  position: fixed;
  top: 45%;
  right: 0%;
  height: 120px;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: black;
  align-items: center;
  .social-icon {
    width: 30px;
    height: 30px;
  }
}
