@import "../styles/Colours.scss";
@import "../styles/Responsive.scss";

.sticky-social-bar {
  $width: 40px;
  position: fixed;
  top: calc(50vh - 60px);
  right: 0%;
  height: auto;
  width: $width + 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #{$black};
  align-items: center;
  .social-icon {
    width: $width;
    height: $width;
  }
  @media #{$mobile} {
    display: none;
  }
}
